.App-header {
    background-color: #fff;
   /* min-height: 100vh;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: rgb(235, 86, 86);
    border-bottom: 3px solid red;
  }
